<?xml version="1.0" encoding="utf-8"?>
<repositories>
  <repository path="..\src\Orc.Notifications.Example\packages.config" />
  <repository path="..\src\Orc.Notifications.Tests\Orc.Notifications.Tests.NET40\packages.config" />
  <repository path="..\src\Orc.Notifications.Tests\Orc.Notifications.Tests.NET45\packages.config" />
  <repository path="..\src\Orc.Notifications\Orc.Notifications.NET40\packages.config" />
  <repository path="..\src\Orc.Notifications\Orc.Notifications.NET45\packages.config" />
</repositories>